In [4]:
import numpy as np

In [5]:
import pandas as pd

In [10]:
# Index Levels
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [11]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [13]:
df = pd.DataFrame(np.random.randn(6,2), hier_index,['A','B'] )

In [14]:
df

             A         B
G1 1  0.354454 -1.442620
   2 -0.085344  1.117711
   3 -0.684916 -0.218257
G2 1 -0.658767 -0.235489
   2  0.402421 -1.815396
   3  1.401317  1.313784

In [16]:
df.loc['G1'].loc[1]

A    0.354454
B   -1.442620
Name: 1, dtype: float64

In [18]:
df.index.names = ['Groups', 'Num']

In [19]:
df

                   A         B
Groups Num
G1     1    0.354454 -1.442620
       2   -0.085344  1.117711
       3   -0.684916 -0.218257
G2     1   -0.658767 -0.235489
       2    0.402421 -1.815396
       3    1.401317  1.313784

In [20]:
df.loc['G2'].loc[2,'B']

-1.815395829608034

In [22]:
df.loc['G1'].loc[3,'A']

-0.6849162154941216

In [23]:
df.xs('G1')

            A         B
Num
1    0.354454 -1.442620
2   -0.085344  1.117711
3   -0.684916 -0.218257

In [25]:
df.xs(1,level = 'Num')

               A         B
Groups
G1      0.354454 -1.442620
G2     -0.658767 -0.235489